@CHARSET "ISO-8859-1";
*{font-family:Droid Sans Arabic, Tahoma; text-decoration: none; }
.loginBtn{
	background-image: url("/images/btn_login.jpg");
	background-repeat: no-repeat;
	width: 73px;
	height: 32px;
}
table{
	border: 0;
	border-spacing: 0;
	border-collapse:collapse;
	width: 100%
}
th,td{
	padding: 0 0 0 0;
}
font {
	font-family: Tahoma;
}
/**********************************************************/
dl {
	font:normal 12px/15px Arial;
    position: relative;
    width: 300px;
}
dt {
    clear: both;
    float:left;
    width: 100px;
    padding: 4px 0 2px 0;
    text-align: left;
}
dd {
    float: left;
    width: 200px;
    margin: 0 0 8px 0;
    padding-left: 6px;
}


/* The hint to Hide and Show */
.hint {
   	display: none;
    position: absolute;
    right: -250px;
    width: 200px;
    margin-top: -4px;
    border: 1px solid #c93;
    padding: 10px 12px;
    /* to fix IE6, I can't just declare a background-color,
    I must do a bg image, too!  So I'm duplicating the pointer.gif
    image, and positioning it so that it doesn't show up
    within the box */
    background: #ffc url(/images/hint/pointer.gif) no-repeat -10px 5px;
}

/* The pointer image is hadded by using another span */
.hint .hint-pointer {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 10px;
    height: 19px;
    background: url(/images/hint/pointer.gif) left top no-repeat;
}
.errorMessage{color:red!important;display:inline;font:normal 12px Verdana}
ul.errorMessage,ul.validator{display:inline;list-style-type:none;margin:0;padding:0}
ul.errorMessage li span{display:inline;margin:0 0 0 5px}
ul.errorMessage li,.qmmc .qmcbox a{display:inline}
.actionMessage{color:green!important;display:inline;font:normal 12px Verdana}
ul.actionMessage,ul.validator{display:inline;list-style-type:none;margin:0;padding:0}
ul.actionMessage li span{display:inline;margin:0 0 0 5px}
ul.actionMessage li,.qmmc .qmcbox a{display:inline}
div.ui-buttonset{display: inline;}
#indicator
{
    position: fixed;
    left: 45%;
    top: 40%;
    display: none;
    background: transparent url("../images/loading.gif");
    z-index: 1000;
    height: 64px;
    width: 64px;
}
FORM{
	font-family: Tahoma;
	font-size: 10pt;
}
FIELDSET{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
LEGEND{
	font-weight: bold;
	color: blue;
	border-color: blue;
}
SPAN .data{
	width: 25%
}
DL{width: 100%;
}
DL DT{width: 25%;
}
DL DD{width: 75%;}
div.ui-buttonset{
display: inline;
}
TABLE.propertyForm{
	width: 100%;
	padding: 0 0 0 0;margin: 0 0 0 0;
}
TABLE.propertyForm TR TD{
	width: 10%;
	font-family: Tahoma;
	font-size: 10pt;
 	margin-left: 10;
	margin-right: 10;
 	
}
.odd{
color: blue;
background-color: white;
}
.even{
color: black;
background-color: fca;
}
.actionBtns{padding:25px 0 15px;text-align:right;width:100%}
.formTables{border:none;border-collapse:collapse;margin:0;padding:0;width:100%}
.formTables tr{vertical-align:top; height:25px}
.formTables th{background-color:#DDEBF8;color:#06c;font:bold 14px Verdana;padding:1px 0 11px 20px;text-align:left; text-transform: capitalize}
.formTables tr td{color:#2e6e9e;font:bold 12px Verdana;margin:0;padding:5px 10px;white-space: nowrap; }
.formTables td input[type=text],.formTables td textarea{padding:1px}
.formTables td fieldset {background-color:#DDEBF8;}
.formTables td fieldset table{background-color:#DDEBF8;}
.formTables td input[type=text],.txtBox{#height:20px;color:#404040;font:normal 11px Verdana;padding:1px;}
.ui-effects-wrapper { display: inline-block;}
.projects-locations-container{margin-top:10px;position:relative}
.tabs-container{border-bottom:1px solid #0077ba;height:25px;position:relative}
.tabs-container .locations-tabs{list-style:none;height:23px;padding:0 15px;position:absolute;right:0;top:2px}
.ltr .tabs-container .locations-tabs{right:auto;left:0}
.tabs-container .locations-tabs li{display:inline;float:right;margin-right:5px;-webkit-border-radius:2px 2px 0px 0px;border-radius:2px 2px 0px 0px}
.ltr .tabs-container .locations-tabs li{float:left}
.tabs-container .locations-tabs li a{display:inline-block;background-color:#0077BA;color:#fff;padding:3px 10px;font-weight:bold;-webkit-border-radius:2px 2px 0px 0px;border-radius:2px 2px 0px 0px}
.tabs-container .locations-tabs li a:hover{background-color:#EE7501}
.tabs-container .locations-tabs li.active{border:1px solid #0077ba;border-bottom:none}
.tabs-container .locations-tabs li.active a{color:#0077BA;background:#fff;padding-bottom:2px}
.projects-container{border:1px solid #0077ba;border-top:none;min-height:100px}
.projects{}
.projects li{list-style-type: none;float:right;width:265px;min-height:260px;font-size:8pt;}.ltr .projects li{float:left}
.projects .project-name{font-size:16px;color:#666464;margin-top:10px}
.projects .photo{float:right;overflow:hidden;width:100%;height:140px;text-align:center}
.ltr .projects .photo{float:left}.projects li p{margin:0;text-align:inherit}
.add-project{background-color:#ee7501;-webkit-border-radius:2px 2px 0px 0px;border-radius:2px 2px 0px 0px;color:#FFFFFF;padding:4px 10px;font-weight:bold}
.rtl .add-project{float:left;margin-left:15px}.ltr .add-project{float:right;margin-right:15px}
.price{color:#ee7501}
.ltr.dropdown-login-form{right:20px!important;left:auto!important;}.ltr .dropdown-login-form p{text-align:left!important;}
.footerItem { float: left; background-color: #0D4559; color: white; height: 120px;clear: right;}
/* .footerItem { display:inline-block; white-space:nowrap; background-color: #0D4559; color: white; height: 120px;overflow: hidden;}
 */.footerItemFirst{position: absolute;}
.footerLine{background-color: #0D4559;}
img{border: 0;}
a{text-decoration: none;}
div.footerItem p a{color: white;}
