/*-------------------------
	Simple reset
--------------------------*/




/*-------------------------
	General Styles
--------------------------*/






a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}


/*----------------------------
	Photos
-----------------------------*/


#photos{
	text-align:center;
	padding-top:0px;
	width: 400px;
	margin-left: 350px;
}

#photos li{
    text-align:center;
	overflow:hidden;
	background-color:#fff;
	box-shadow: 1px 1px 1px #ccc;
	-webkit-animation-duration:2s;
	-moz-animation-duration: 2s;
	animation-duration: 2s;
}

#photos li a{
	top:6px;
	left:6px;
	right:6px;
	bottom:6px;
	overflow:hidden;
}
#photos li img{
	text-align:center;
	overflow:hidden;
}

/*----------------------------
	Previous / Next arrows
-----------------------------*/

a.arrow{
	width:33px;
	height:33px;
	background:url('../img/arrows.png') no-repeat;
	position:absolute;
	top:340px;
	opacity:0.9;
}

a.arrow:hover{
	opacity:1;
}

a.arrow.previous{
	left:50%;
	background-position:0 0;
	margin-left:-340px;
}

a.arrow.next{
	right:50%;
	background-position:-33px 0;
	margin-right:-340px;
}

/*----------------------------
	The Demo Footer
-----------------------------*/
